<div class="mob-calendar-container calendar_dropdown_toggle_bnt1" has-day-limit='{{day_limit_attr}}'
    model-title='{{model_title}}'>
    <span class="material-icons mob-calendar-icon">
        date_range
    </span>
    <input type="text" class="form-control mob-calendar-input cal_first_input"
        placeholder="{{first_day_selector_placeholder}}" readonly="true" name="{{first_name}}" value="" />

    <div class="calendar-input-divider"></div>

    <input type="text" class="form-control mob-calendar-input cal_second_input"
        placeholder="{{second_day_selector_placeholder}}" readonly="true" name="{{second_name}}" value="" />
</div>